.dark-bg {
  background: #4a4a4a;
  padding: 60px 0px;
  color: #fff;
  font-family: inherit;
}
address{
  margin-bottom: 50px;
  // flex: 0 0 030px;
  // width: 300px;
  font-size: 12px;
  line-height: 1.67;
}
h2 {
  font-size: 40px;
}
