<footer class="page-footer dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-12"><h2>Contacts</h2></div>
      <div class="col-12 d d-flex flex-row flex-wrap justify-content-between">
        <address>
          Knight Kiplinger <br>
          Owner & Developer<br>
          info@pinelandprairie.com
        </address>
        <address>
          Marcela Camblor-Cutsaimanis <br />
          Masterplaner<br />
          MARCELA CAMBLOR & ASSOCIATES, INC<br />
          marcela@marcelacamblor.com
        </address>
        <address>
          Jonathan Karlsson<br />
          Technology Innovation & Integration<br />
          INNENCO International AB<br />
          jonathan.karlsson@innenco.com
        </address>
        <address>
          Will Sibia<br />
          Circular Business Development<br />
          Sweco<br />
          Will.sibia@sweco.se<br />
        </address>
      </div>
    </div>
  </div>
</footer>
