.dark-bg {
  background: #4a4a4a;
  padding: 60px 0px;
  color: #fff;
  font-family: inherit;
}
address{
  margin-bottom: 50px;
  flex: 0 0 300px;
  width: 300px;
}

.container {
  max-width: 850px;
}
