
<header>
<div class="container">
  <div class="col12">
      <nav class="navbar navbar navbar-expand navbar-light bg-faded">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="goToLink($event,'#about');">About </a>
            </li>
            <li class="nav-item"
            >
              <a class="nav-link" href="#"  (click)="goToLink($event,'#contact');">Contact </a>
            </li>
          </ul>
        </nav>
  </div>
</div>
</header>
<div class="container page-section">
  <div class="row">
    <div class="col-12">
        <div class="px-logo mb-60">
            <a href="/" target="_blank">
              <!-- <img src="../../../assets/pineland-black.png" class="img-responsive" alt="Pinelandinfra"> -->
            </a>
          </div>
      <h2>
        Pineland Prairie <br>
        Integrated Infrastructure Development
      </h2>
      <section class="home-description">
        <p>
          Pineland Prairie is Knight Kiplinger’s new greenfield city in Martin County, Florida, covering an area of
          nearly 3500 acres. Knight’s vision is to create a development that sets new standard for cities for the
          future. A city that is in harmony with nature, a city that nurtures its residents, a city that is vibrant,
          attractive and inclusive.
          Pineland Prairie’s plan and its vision has been acknowledged as the new standard for future projects by
          leading planning organizations. Local Planning Agency grants strong support for Pineland Prairie.

        </p>
        <p class="m-0">
          Pineland Infra is an infrastructure development agency, especially created to contribute to the vision of
          Knight Kiplinger by developing a truly integrated, secure & reliable infrastructure. Infrastructure is heart
          of any development, Pineland Infra aims to create an infrastructure that is sustainable at every level and
          truly democratic in how it is planned and how it will be operated.
        </p>
      </section>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-12">
      <img src="https://via.placeholder.com/1240X650" class="img-fluid" alt="">
    </div>
  </div>
</div>
<div class="light-grey-bg">
<div class="container page-section" id="about">
  <div class="row">
    <div class="col-12">
      <h3>The Circular Foundation – True Value Creation</h3>
      <p>
        As per UNEP estimates cities consume 75% of natural resources globally. They produce 50% of global waste and
        60-80% of green house gas emissions. Cities are at the heart of the extractive, `take, make, dispose’ economy
        with their linear metabolism.
      </p>
      <p>

        Pineland Infra will deliver an infrastructure that acknowledges finite resources, our biophysical limits and
        create closed loop systems in energy, water, waste & food production that are further in symbiosis with each
        other.
      </p>
      <p class="m-0">
        Infrastructure by design will be regenerative. Focus will be on end-use service delivery by converging
        investments, technology and spatial needs for all supply systems. Pinland Infra will set a precedence from
        current systems of energy, transport, digital information, water, waste and ﬂood protection that are built to
        provide unconstrained demand of end-use products, with larger consumption volumes corresponding to higher
        economic revenue.
      </p>
    </div>
  </div>
</div>
</div>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-12">
      <img src="https://via.placeholder.com/1240X650" class="img-fluid" alt="">
    </div>
  </div>
</div>
<div class="container page-section">
  <div class="row">
    <div class="col-12">
      <div class="inner-section">
        <h3>Smart Infrastructure</h3>
        <p>
          Often named as – The Fourth Industrial Revolution, the exponential growth of digital connectivity and
          impending digital transformation – can create signiﬁcant new sources of value for citizens and economies.
          Pineland Prairie’s infrastructure will be designed with built-in intelligence such that all the supply
          chains, reuse and regeneration can be transformed into assets. This will lead to new business opportunities
          via performance models.
        </p>
      </div>
      <div class="inner-section">
        <h3> Driving Downstream Economy </h3>
        <p>
          Local physical infrastructure that is circular in nature along with the intelligence will create a breeding
          ground for innovation and value creation. Circular economy value drivers include extending the useful life
          and maximising the utilisation of assets, looping assets, and regenerating natural capital.
        </p>
        <p>
          Internet of Things, Open Data, Connected Infrastructure will unleash to a broad range of opportunities and
          will lead to new local business opportunities via performance models, community services & citizen
          engagement.
        </p>
      </div>
      <div class="inner-section">
        <h3> Innovation – Creating the future </h3>
        <p>
          It is an established fact that de-centralised production or production closest to the use is the most
          efficient. New technologies today allow local production and regeneration, the potential for smart,
          integrated, decentralized infrastructure at Pineland Prairie is massive and Pineland Infra will explore
          possibilities to create highly sustainable and resilient subset of local microgrids for various supply
          systems from bottom-up.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="about-section page-section grey-bg">
  <div class="container">
    <div class="row">
      <section class="col-12">
        <h3>From Ideas to Action</h3>
        <blockquote class="blockquote">
          <p class="mb-0">“We cannot solve our problems with the same thinking we used when we created them.”</p>
          <footer class="blockquote-footer">Albert Einstein</footer>
        </blockquote>
        <p>Pineland Infra is set to seize this opportunity provided by Development of Pineland Prairie to not only
          bring true value for future inhabitants of this city but also to showcase the possibilities for
          transformation to existing and new cities globally.
        </p>
        <p>
          This opportunity to transition towards new modes of infrastructure development is profound. This has the
          potential to improve billions of lives while minimizing intensive use of natural resources.
          As a next step Pineland Infra proposes to bring key stakeholders together and create a collaborative
          platform. The platform that will focus on execution for this project and enable a global outreach.
        </p>
        <p>
          If new business models for the smart integrated decentralized infrastructure are designed correctly, they can
          be built at lower cost, offering improved quality of service while using fewer resources.
        </p>
        Some of the key tasks can be highlighted as;
        <div class="card-tems">
          <div class="row">
            <div class="col-12 d-flex flex-row">
              <div class="card-tem">
                <img src="../../../assets/platform.png" alt="collaborative">
                Provide collaborative platform
              </div>
              <div class="card-tem">
                <img src="../../../assets/business-material.png" alt="business and financing">
                Develop business and
                financing models
              </div>
              <div class="card-tem">
                <img src="../../../assets/shape_sett.png" alt="Integrate technical skills">
                Integrate technical skills
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex flex-row">
              <div class="card-tem">
                <img src="../../../assets/shape_hand.png" alt="Potential Partners">
                Potential Partners
              </div>
              <div class="card-tem">
                <img src="../../../assets/attach-money-material.png" alt="Finance">
                Finance
              </div>
              <div class="card-tem">
                <img src="../../../assets/shape_t.png" alt="Technology">
                Technology
              </div>
              <div class="card-tem">
                <img src="../../../assets/shape_l.png" alt="Technology">
                Technology
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex flex-row">
              <div class="card-tem">
                <img src="../../../assets/cal.png" alt="">
                Events
              </div>
              <div class="card-tem">
                <img src="../../../assets/shape-cal-i.png" alt="">
                March 2019 - Impact Dialogues
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>
<app-footer id="contact"></app-footer>
