.container,.container-fluid {
  color: #444444;
  font-family: inherit;
  // max-width: 850px;
}
// header{
//   border-bottom: 1px solid #d8d8d8;
//   .container {
//     border-left: 1px solid #d8d8d8;
//   }
// }
p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.5px;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.38;
  letter-spacing: 0.8px;
  color: #0c0e0e;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.light-grey-bg {
  background-color: #f9f9f9;
}

.grey-bg {
  background: #eaeff2;
}

.page-section {
  padding: 60px 0;
}
.card-tems {
  margin-top: 60px;
}
.card-tem {
  width: 200px;
  margin: 0px 0 60px;
  flex:0 0 200px;

  img {
    margin-bottom: 15px;
    display: block;
  }
}

blockquote {
  // font-weight: 100;
  margin-bottom: 40px;
  p {
    font-size: 24px;
    line-height: 1.5;
  }
  .blockquote-footer {
    font-weight: 600;
    color: inherit;
    margin-top: 15px;
  }

}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mb-60{
  margin-bottom: 60px;
}
.ml-5px{
  margin-left: 5px;
}
header.masthead{
  height: 100vh;
  min-height: 700px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 100px;
    color: #fff;
    background: url(../../../assets/login_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333;
    h2 {
      color: #fff;
      padding: 150px 0;
      margin: 0;

    }
}
.nav-link {
  color: #fff;
}
.circular_foundation{
  background: url("../../../assets/ricardo-gomez-angel-603624-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;


}
.p-60 {
  padding: 60px;
}
