<div class="displayTable">
  <div class="displayTableCell">
<div class="logo-area">
    <div class="px-logo">
      <a href="/" target="_blank">
        <!-- <img src="../../../assets/Pinelandinfra_logo.png" class="img-responsive" alt="Pinelandinfra"> -->
      </a>
    </div>
  </div>
    <div class="authBlock">
      <h2>Sign In</h2>
      <div class="formGroup">
        <label for="uname">User Name</label>
        <input type="text" class="formControl" name="uname"  id="uname" placeholder="Username" #userName  required>
      </div>

      <div class="formGroup">
          <label  for="password">Password</label>
        <input type="password" class="formControl" name="password" id="password" placeholder="Password" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup mt-20">
        <input type="button" class="btn btn-primary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>
    </div>



    <!-- <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
    </div> -->

  </div>
  <div class="main-area displayTableCell2">

  </div>
</div>
